.st0{fill:#162934;}
	.st1{fill:#FF9519;}
	.st2{display:none;fill:none;stroke:#FBD8E0;stroke-width:2;stroke-linecap:round;}
	.st3{fill:url(#SVGID_1_);}
	.st4{fill:url(#SVGID_2_);}
	.st5{fill:url(#SVGID_3_);}
	.st6{fill:url(#SVGID_4_);}
	.st7{fill:url(#SVGID_5_);}
	.st8{fill:url(#SVGID_6_);}
	.st9{fill:url(#SVGID_7_);}
	.st10{fill:url(#SVGID_8_);}
	.st11{fill:url(#SVGID_9_);}
	.st12{fill:url(#SVGID_10_);}
	.st13{fill:url(#SVGID_11_);}
	.st14{fill:url(#SVGID_12_);}
	.st15{fill:url(#SVGID_13_);}
	.st16{fill:url(#SVGID_14_);}
	.st17{fill:url(#SVGID_15_);}
	.st18{fill:url(#SVGID_16_);}
	.st19{fill:url(#SVGID_17_);}
	.st20{fill:url(#SVGID_18_);}
	.st21{fill:url(#SVGID_19_);}
	.st22{fill:url(#SVGID_20_);}
	.st23{fill:url(#SVGID_21_);}
	.st24{fill:url(#SVGID_22_);}
	.st25{fill:url(#SVGID_23_);}
	.st26{fill:url(#SVGID_24_);}
	.st27{fill:url(#SVGID_25_);}
	.st28{fill:url(#SVGID_26_);}
	.st29{fill:url(#SVGID_27_);}
	.st30{fill:url(#SVGID_28_);}
	.st31{fill:url(#SVGID_29_);}
	.st32{fill:url(#SVGID_30_);}
	.st33{fill:url(#SVGID_31_);}
	.st34{fill:url(#SVGID_32_);}
	.st35{fill:url(#SVGID_33_);}
	.st36{fill:url(#SVGID_34_);}
	.st37{fill:url(#SVGID_35_);}
	.st38{fill:url(#SVGID_36_);}
	.st39{fill:url(#SVGID_37_);}
	.st40{fill:url(#SVGID_38_);}
	.st41{fill:url(#SVGID_39_);}
	.st42{fill:url(#SVGID_40_);}
	.st43{fill:url(#SVGID_41_);}
	.st44{fill:url(#SVGID_42_);}
	.st45{fill:url(#SVGID_43_);}
	.st46{fill:url(#SVGID_44_);}
	.st47{fill:url(#SVGID_45_);}
	.st48{fill:url(#SVGID_46_);}
	.st49{fill:url(#SVGID_47_);}
	.st50{fill:url(#SVGID_48_);}
	.st51{fill:url(#SVGID_49_);}
	.st52{fill:url(#SVGID_50_);}
	.st53{fill:url(#SVGID_51_);}
	.st54{fill:url(#SVGID_52_);}
	.st55{fill:url(#SVGID_53_);}
	.st56{fill:url(#SVGID_54_);}
	.st57{fill:url(#SVGID_55_);}
	.st58{fill:url(#SVGID_56_);}
	.st59{fill:url(#SVGID_57_);}
	.st60{fill:#FBD8E0;}
	.st61{fill:#BF0000;}

#wrapper {
	width: 1100px;
	margin: 0 auto;
	z-index: 5;
}

/*.spin{
	-webkit-animation: spin 0.9s infinite linear;
	}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}	*/

body {
	background-image: url("bg.jpeg");
	background-size; cover;
	margin: 0 auto;
}

#buttons{
	position: absolute;
	top: -100px;
	z-index: 10;
}

